.first {
    &__wrapper {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(50deg, #050505 50%, #753190);
        color: white;
        display: flex;
        align-items: center;
        position: relative;
    }
    &__content_wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transform-style: preserve-3d;
        perspective: 1200px;
    }
    &__left_side {
        width: 540px;
        align-items: center;
        transform-style: preserve-3d;

        & .title {
            text-transform: uppercase;
            font-size: 44px;
            opacity: 0;
            position: relative;
            animation: 1.2s ease-in-out 1s 1 forwards loadedTitle;
            @keyframes loadedTitle {
                0% {
                    opacity: 1;
                    filter: blur(10px);
                    transform: translateZ(20px) translateX(-700px);
                }
                80% {
                    opacity: 1;
                    filter: blur(2px);
                }
                100% {
                    opacity: 1;
                    filter: blur(0px);
                    transform: translateZ(20px) translateX(0px);
                }
            }

            & span:nth-child(1) {
                font-size: 54px;
                color: #050505;
                background-color: white;
            }
        }
        & .sub_title {
            width: 440px;
            font-size: 14px;
            margin-top: 4px;
            opacity: 0;
            animation: 1.2s ease-in-out 1.4s 1 forwards loadedSubTitle;
            perspective: 1200px;
            transform-style: preserve-3d;

            @keyframes loadedSubTitle {
                0% {
                    opacity: 0.5;
                    filter: blur(10px);
                    transform: translateZ(-20px) translateX(-700px);
                }
                80% {
                    opacity: 0.5;
                    filter: blur(2px);
                }
                100% {
                    opacity: 0.5;
                    filter: blur(0px);
                    transform: translateZ(-20px) translateX(0px);
                }
            }
        }
        & .under_title {
            opacity: 0;
            animation: 1.5s ease-in-out 1.4s 1 forwards under_title;

            @keyframes under_title {
                0% {
                    opacity: 1;
                    filter: blur(10px);
                    transform: translateZ(40px) translateX(-1200px);
                }
                80% {
                    opacity: 1;

                    filter: blur(2px);
                }
                100% {
                    opacity: 1;
                    filter: blur(0px);
                    transform: translateZ(40px) translateX(0px);
                }
            }
        }
    }

    &__right_side {
        display: flex;
        align-items: center;
        width: 50%;
        height: auto;
        transform-style: preserve-3d;

        & .pig {
            &__lvl_1 {
                transform: translateZ(20px);
            }
            &__lvl_2 {
                opacity: 0.4;
                filter: contrast(40%) grayscale(40%);
                transform: translateX(-30%) translateZ(-120px);
                // transform: scale(0.9) translate3d(-200, -20, -20, -24deg);
            }
            &__lvl_3 {
                opacity: 0.2;
                filter: blur(2px) contrast(20%) grayscale(20%);
                transform: translateX(30%) translateZ(-140px);
                // transform: scale(0.9) translate3d(-200, -20, -40, -24deg);
            }
        }
    }
}
