.second {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: #050505;
    }
    &_text {
        color: transparent;
        padding: 124px 0;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 64px;

        -webkit-text-stroke: 1.4px white;
    }
}
