.second {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: 1000vw;
        // height: 100vh;
        background: white;
    }
    &_text {
        color: transparent;
        padding: 124px 0;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 64px;
        mix-blend-mode: exclusion;

        -webkit-text-stroke: 1.4px white;
        position: relative;

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        & span {
            mix-blend-mode: difference;
            // background: linear-gradient(144deg, #fff 80%, #050505 0%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
