.main_cursor {
    z-index: 10000;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: white;
    border: 1px solid white;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
    pointer-events: none;
    user-select: none;
}
.secondary_cursor {
    z-index: 10000;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    border: 1px solid white;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
    pointer-events: none;
    user-select: none;
    // transition: 4s cubic-bezier(0.63, -0.91, 0.36, 2);
}
